# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# NextJS
_next/
.next/

# Dotenv
.env

# Serverless
.serverless

# IDE
.idea
.vscode

# Build
build

# Other
.DS_Store

# Tests
jest-coverage
cypress-coverage
coverage
packages/ui/lib
portals/*/public/assets

# Protos
*.proto

# Package distributions
dist/
